@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.95);
  }
}

/* Aplico las animaciones según la clase activa */
.fade-in .modal-dialog {
  animation: fadeIn 0.3s ease-out forwards;
}

.fade-out .modal-dialog {
  animation: fadeOut 0.3s ease-out forwards;
}
